<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('serve_css', filename='signup.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('serve_images', filename='asltextify-favicon.ico') }}">
</head>
<body>

    <div class="flash-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    
    <script src="{{ url_for('serve_js', filename='reset-password.js') }}" defer></script>

    <!-- Reset Password Form -->
    <div class="signup-container">
        <h2>Reset your Password</h2>
        <form action="{{ url_for('reset_password', token=token) }}" method="POST">
            <div class="input-box">
                <label for="new_password">Password</label>
                <input type="password" id="new_password" name="new_password" placeholder="Enter your Password" oninput="checkPasswordStrength()" required>
                <div id="password-strength" class="password-strength"></div>
                <img
                src="{{ url_for('serve_images', filename='pass_visibilityoff.svg') }}"
                alt="Hide"
                id="togglePassword"
                data-visible-icon="{{ url_for('serve_images', filename='pass_visibilityon.svg') }}"
                data-hidden-icon="{{ url_for('serve_images', filename='pass_visibilityoff.svg') }}"
                onclick="toggleVisibility('new_password', 'togglePassword')">
            </div>
            <div class="input-box">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm your Password" required>
                <img
                src="{{ url_for('serve_images', filename='pass_visibilityoff.svg') }}"
                alt="Hide"
                id="toggleConfirmPassword"
                data-visible-icon="{{ url_for('serve_images', filename='pass_visibilityon.svg') }}"
                data-hidden-icon="{{ url_for('serve_images', filename='pass_visibilityoff.svg') }}"
                onclick="toggleVisibility('confirm_password', 'toggleConfirmPassword')">
            </div>

            <button type="submit" class="signup-btn">Reset</button>
        </form>
        <p class="signup-text">Remember your Password? <a href="{{ url_for('signin') }}">Log In</a></p>
    </div>

    <div class="carousel-container">
        <div class="carousel">
            <div class="slide">
                <img class="slide-one-img" src="{{ url_for('serve_images', filename='expert-guide.png') }}" alt="Expert Guide">
                <div class="text text-one">
                    <h2>Master ASL with Expert Guidance</h2>
                    <p>Enhance your ASL skills through One-on-One engaging sessions with experienced instructors.</p>
                </div>
            </div>
            <div class="slide">
                <img class="slide-two-img" src="{{ url_for('serve_images', filename='text-asl.png') }}" alt="Text to ASL Conversion">
                <div class="text text-two">
                    <h2>Text to ASL Conversion</h2>
                    <p>Instantly convert written text into American Sign Language.</p>
                </div>
            </div>
            <div class="slide">
                <img class="slide-three-img" src="{{ url_for('serve_images', filename='asl-text.png') }}" alt="ASL to Text Conversion">
                <div class="text text-three">
                    <h2>ASL to Text Conversion</h2>
                    <p>Capture ASL gestures in real-time and convert them to text.</p>
                </div>
            </div>
        </div>
        <!-- Navigation Lines -->
        <div class="lines">
            <span class="line" onclick="moveToSlide(0)"></span>
            <span class="line" onclick="moveToSlide(1)"></span>
            <span class="line" onclick="moveToSlide(2)"></span>
        </div>
    </div>

    <script src="{{ url_for('serve_js', filename='signslider.js') }}"></script>

    <footer class="footer">
        <div class="footer-top">
            <hr class="line-left">
            <div class="social-icons-container"> <!-- New container for social icons -->
                <div class="social-icon">
                    <a href="#">
                        <div class="icon-circle"> <!-- Circular container -->
                            <img src="{{ url_for('serve_images', filename='facebook-foot.svg') }}" alt="Facebook">
                        </div>
                    </a>
                </div>
                <div class="social-icon">
                    <a href="#">
                        <div class="icon-circle"> <!-- Circular container -->
                            <img src="{{ url_for('serve_images', filename='instagram-foot.svg') }}" alt="Instagram">
                        </div>
                    </a>
                </div>
            </div>
            <hr class="line-right">
        </div>

        <button id="dark-mode-toggle" class="dark-mode-toggle">
            <img src="{{ url_for('serve_images', filename='dark_mode.svg') }}" alt="Dark Mode Icon">
        </button>
        
        <div class="footer-bottom">
            <p>Copyright © 2024 Vertex Technologies. All Rights Reserved.</p>
            <div class="footer-links">
                <a href="#">Terms of Use</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Cookie Policy</a>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('serve_js', filename='dark-mode-signup.js') }}"></script>
</body>
</html>
